*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
  --primary-color: #121481;
}

body{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1{
  font-size: 1.8rem;
}

p{
  font-size: 14.5px;
}

a{
  font-size: 14.5px;
}

input,button{
  outline: none;
  border: 0;
}

.flex{
  display: flex;
}

#form{
  width: 370px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  padding: 10px 15px;
  gap: 15px;
  border-radius: 10px;
  position: relative;
  margin: 0 10px;
}

#form h1{
  margin-bottom: 20px;
  color: var(--primary-color);
  position: relative;
}

#form h1::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background: var(--primary-color);
  bottom: -15px;
  left: 0;
  transform: translateX(90%)
}

.input-box {
  width: 100%;
  height: 50px;
  position: relative;
}

.input-box input{
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 35px 0 15px;
  border-radius: 3px;
}

.input-box i{
  position: absolute;
  right: 20px;
  color: var(--primary-color);
  font-size: 18px;
  transform: translateY(100%)
}

input:focus{
  border:1px solid var(--primary-color);
}

.sign-btn{
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.sign-btn button{
  width: 50%;
  padding: 11px 0;
  font-size: 16px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
}

.or-line{
  width: 100%;
  align-items: center;
  gap: 7px;
  margin: 10px 0 10px 0;
  justify-content: center;
}

#line{
  width: 40%;
  height: 1px;
  background: grey;
}

span{
  font-size: 14px;
  color: grey;
}

.icons{
  width: 100%;
  gap: 20px;
  margin: 0px 0 20px 0;
  justify-content: center;
}

.icon{
  padding: 12px 15px;
  border: 1px solid grey;
  border-radius: 3px;
  transition: .4s;
}

.icon i{
  font-size: 27px;
  color: var(--primary-color);
}

.icon:hover{
  background: var(--primary-color);
  border: none;
}

.icon:hover > i{
  color: #fff;
}
